.Card {
  margin: 30px 30px 30px 30px;
  border-radius: 5%;
  background-color: white;
  color: blueviolet;
  width: 200px;
  height: 260px;

  left: 500px;
  top: 100px;
}

.Image {
  width: 150px;
  height: 150px;
}

.Button {
  color: white;
  background-color: rgb(0, 60, 255);
  margin: 30px 5px 5px 5px;
  border-radius: 15%;
  width: 50px;
  height: 30px;
  border: 1px solid white;
  font-size: 15px;
  font-weight: bold;
}

.Item1 {
  color: rgb(12, 9, 12);
  position: relative;
  left: 100px;
}
.Item2 {
  color: rgb(12, 9, 12);
  position: relative;
  top: -190px;
  left: 350px;
}
.Item3 {
  color: rgb(12, 9, 12);
  position: relative;
  left: 605px;
  top: -480px;
}

.Item4 {
  color: rgb(12, 9, 12);
  position: relative;
  left: 858px;
  top: -770px;
}
