.Cart {
  position: relative;
  left: 400px;
  width: 60%;
}

.Button {
  margin: 50px 0;
  position: absolute;
  left: 300px;
  width: 120px;
  height: 60px;
  font-size: 1.25em;
  background-color: rgb(123, 141, 19);
  color: rgb(41, 40, 40);
  border: 1px solid #ccc;
  box-shadow: 4px 4px 2px #aaaaaa;
  outline: none;
}

.Text {
  width: 500px;
  position: relative;
  right: 100px;
}
