.Header {
  align-items: center;
  margin: 0;
}
.Header ul {
  margin: 0px;
  padding: 0px;
  background-color: rgb(104, 73, 133);
  color: azure;
}
.Header li {
  display: inline-block;
  margin: 15px;
}

.Header a {
  text-decoration: none;
  color: azure;
}
.Header img {
  background-color: coral;
  margin-top: 0px;
  display: inline-block;
  height: 20px;
  width: 40px;
  position: relative;
  left: 550px;
  top: 5px;
}

.Header span {
  color: red;
  font-weight: bold;
  position: relative;
  left: 550px;
  top: -5px;
}
