.Navbar {
  background-color: blueviolet;
  height: 50px;
  align-items: center;
  font-size: 1.25em;
}

.Navbar li {
  color: white;
  display: inline-block;
  margin: 10px;
}

.Navbar ul {
  list-style: none;
  color: black;
}

.Navbar span {
  font-size: 25px;
  color: red;
  position: relative;
  border: 1px solid wheat;
  left: 1150px;
  bottom: 1px;
  background-color: white;
  border-radius: 20%;
}
