.Fruit {
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.Fruit img {
  width: 150px;
  height: 150px;
}

.Fruit:hover {
  border: 1px solid rgb(221, 218, 218);
  background-color: rgb(252, 244, 233);
}

.Fruit button {
  padding: 8px 12px;
  color: white;
  background-color: rgb(76, 76, 248);
  font-weight: bold;
  border: none;
  border-radius: 10%;
}

.Fruit button:hover {
  background-color: blue;
}
